.app-title {
    margin: 20px;
    font-size: 60px;
    font-family: 'Oleo Script', cursive;
}

/* ---- Add item ---- */
.img-todo {
    width: 50%;
}

.img-reset {
    width: 40%;
}

.reset {
    display: none;
}

.block {
    display: block;
}

.reset p {
    font-family: 'Mitr', sans-serif;
}

.add-todo input[type="text"] {
    width: 50%;
    padding: 8px;
    border-radius: 4px;
    border: 3px solid #333;
    margin: 20px;
}

.add-todo .img-add {
    width: 5%;
    margin-left: -15px;
}
/* ----------------------- */
/* ------ List -------- */
table {
    list-style-type: none;
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
    float: left;
    margin-top: 50px;
}

h3 {
    padding-left: 13%;
}

table .content-todo {
    width: 90%;
}

table tr td {
    text-align: left;
    padding: 10px;
}

table img {
    display: none;
    width: 30px;
}

table tr:hover {
    background: #d9d9d9;
}

table tr:hover img {
    display: block;
}
/* ------- List Todo ----- */
.list-todo {
    overflow: auto;
    height: 305px;
    border-right: 1px solid;
}
/* ------- End List Todo ----- */
/* ----------list done------- */
.list-done {
    overflow: auto;
    height: 305px;
}

.done td {
    text-decoration: line-through;
}
/* ----------End list done------- */

/* --------------- */